body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    background-color: #fbfff8;
    scroll-behavior: smooth;
    width: 100%;
}

html{
    scrollbar-color: green rgb(144, 192, 144);
    
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1; /* Asegura que el video esté detrás del contenido */
}

#background-video {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


header {
    background: linear-gradient(to right, #0d4100d1, #08c501d1);
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10%;
}

.header-left {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1%;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: white;
    color: #1d2b64;
    border-radius: 5px;
}



nav ul li button:hover, nav ul li button:focus {
    background-color: white;
    color: #1d2b64;
}

section {
    padding: 6rem 2rem 2rem;
    height: 80vh;
}

.textAboutWrap{
    height: 40vh;
    width: 40vw;
    background-color: #75fc8d60;
    border: 2px solid rgba(0, 128, 0, 0.558);
    border-radius: 5%;
}

form {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 1rem auto;
    transition: background 0.3s;
}

form:hover {
    background: #f8f8f8;
}

form label {
    display: block;
    margin: 0.5rem 0 0.25rem;
}

form input, form textarea, form button {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin: 0.25rem auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

form input:focus, form textarea:focus, form button:focus {
    border-color: #1d2b64;
    outline: none;
}

#donation-form {
    padding: 1%;
    border-radius: 10%;
    background: #f8cdda;
    color: #1d2b64;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

#donation-form:hover {
    background: #1d2b64;
    color: #f8cdda;
}
#arabic{
    padding-top: 5%;
}

#arabicWrap{
    display: flex;
    gap: 15%;
}

#arabicWrap > img{
    border-radius: 5%;
    margin-top: 5%;
}

#arabic > h2{
    text-align: center;
}

#arabic-text {
        width: 60%;
        text-align: center;
        padding-top: 1%;
    }



#register-btn{
    background-color: #f8cdda;
    height: 15%;
    color: #1d2b64;
    font-weight: bold;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}

#gallery{
    background-color: #3333331b;
    padding: 0;
    height: 90vh;
    padding-top: 5%;
    text-align: center;
}

.scroll-button {
    background-color: rgba(0, 0, 0, 0.458);
    border: none;
    border-radius: 10%;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    height: 30%;
    transform: translateY(-50%);
    z-index: 1;
}

.scroll-button.left {
    left: 0;
    top: 215%;
}

.scroll-button.right {
    right: 0;
    top: 200.3%;
    transform:rotate(180deg);
}

.scroll-button:hover {
    
    background-color: rgba(0, 0, 0, 0.807);
}

.album {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width:none;
}

.photo img{
    height: 100%;
    width: auto;
    border-radius: 5%;
    object-fit: cover;
}

.photo{
    width: 100%;
    height: 90%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}


.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#class-registration-form, #donation-info {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2000;
}

#class-registration-form button, #donation-info button {
    background: #1d2b64;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

#class-registration-form button:hover, #donation-info button:hover {
    background: #f8cdda;
    color: #1d2b64;
}


/*-----------------------------------------------------*/

.footer {
    background: -webkit-linear-gradient(left, #0d4100d1, #08c501d1);
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.subscribe,
.contact,
.social {
    flex: 1;
    margin-right: 20px;
    color: white;
   
}

.social a{
    color: #98e1ed;
    text-decoration: none;
}

.contact a{
    text-decoration: none;
    color:#98e1ed;
}

.social a:hover{
    text-decoration:underline;
    color: #eff5f6;
   
}

.contact a:hover{
     color:#eff5f6;
     text-decoration:underline;
}
.subscribe h3,
.contact h3,
.social h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.subscribe input[type="email"],
.subscribe button {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
}

.subscribe input:focus{
     border: 4px solid rgb(39, 141, 243);
     transition: all 0.6 ease;
   
}

.subscribe button {
    background: -webkit-linear-gradient(left, #2b2c6d, #1e7b90 );
    color: #fff;
    border: none;
    cursor: pointer;
}

.subscribe button:hover{
    background: -webkit-linear-gradient(left, #095060,#121347 );
}

.subscribe button:focus{
    background: -webkit-linear-gradient(left,#121347, #095060 );
}


.contact p {
    margin-bottom: 10px;
}

.social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social ul li {
    display: inline-block;
    margin-right: 10px;
}

.social ul li:last-child {
    margin-right: 0;
}

.social ul li img {
    width: 40px;
    height: 40px;
}
/*

footer {
    background: linear-gradient(to right, #0d4100, #08c501);
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 90vw;
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    border-radius: 10% 10% 0 0 ;
}
*/